
<section class="col-sm-4 mx-auto p-2">
    <h5>Department Details</h5>

    <form (ngSubmit)="handleFormSubmit()">
        <div>
            <label>Department Id</label>
            <input type="number" name="tb1" [(ngModel)]="dept.id" class="form-control" readonly />
        </div>
        <div>
            <label>Title</label>
            <input type="text" name="tb2" [(ngModel)]="dept.title" class="form-control"/>
        </div>
        <div>
            <label>Head Quarter</label>
            <input type="text" name="tb3" [(ngModel)]="dept.hq" class="form-control"/>
        </div>
        <div class="d-grid mt-2">
            <button class="btn btn-primary">SAVE</button>
        </div>
    </form>
</section>