<h4>String pipes</h4>
<div>
    <div>Original: <strong>{{str}}</strong></div>
    <div>{{str|lowercase}}</div>
    <div>{{str|uppercase}}</div>
    <div>{{str|titlecase}}</div>
</div>

<h4>Number Pipe</h4>
<div>
    <div>Original:<strong>{{num}}</strong></div>
    <div>{{num|number:'1.0-0'}}</div>
    <div>{{num|number:'2.0-0'}}</div>
    <div>{{num|number:'2.2-3'}}</div>
    <div>{{num|number:'4.2-2'}}</div>
</div>

<h4>Currency Pipe</h4>
<div>
    <div>Original:<strong>{{num}}</strong></div>
    <div>{{num|currency:'INR'}}</div>
    <div>{{num|currency:'JPY'}}</div>
    <div>{{num|currency:'GBP'}}</div>
    <div>{{num|currency:'USD'}}</div>
    <div>{{num|currency:'AUD'}}</div>
    <div>{{num|currency:'XYZ'}}</div>
</div>

<h4>Date Pipe</h4>
<div>
    <div>Original:<strong>{{dt}}</strong></div>
    <div>{{dt|date:'short'}}</div>
    <div>{{dt|date:'long'}}</div>
    <div>{{dt|date:'dd-MM-yy'}}</div>
    <div>{{dt|date:'dd-MMM-yyyy'}}</div>
    <div>{{dt|date:'dd-MMMM-yyyy'}}</div>
    <div>{{dt|date:'dd-MMMM-yyyy hh:mm:ss aa'}}</div>
    <div>{{dt|date:'dd-MMMM-yyyy HH:mm:ss'}}</div>
</div>