<form class="row border-bottom border-primary p-2" (ngSubmit)="handleSubmit()">
    <div class="col-2">
        <input type="number" name="tb1" [(ngModel)]="dept.id" class="form-control" />
    </div>
    <div class="col">
        <input type="text" name="tb2" [(ngModel)]="dept.title" class="form-control" />
    </div>
    <div class="col-3">
        <input type="text" name="tb3" [(ngModel)]="dept.hq" class="form-control" />
    </div>
    <div class="col-2">
        <button class="btn btn-sm btn-primary me-2">ADD</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="resetForm()">RESET</button>
    </div>
</form>
