<section class="col-sm-8 mx-auto p-2">
    <h5>List Of Departments</h5>

    <p class="alert alert-info p-4 fw-bold" *ngIf="!depts && !errMsg">
        Please wait while laoding data....
    </p>

    <p class="alert alert-danger p-4 fw-bold" *ngIf="errMsg">
        {{errMsg}}
    </p>

    <p class="alert alert-info p-4 fw-bold" *ngIf="depts && depts.length===0">
        No Records To Display.
    </p>

    <table class="table table-bordered table-striped" *ngIf="depts && depts.length>0">
        <thead>
            <tr class="text-center">
                <th>Dept#</th>
                <th>Title</th>
                <th>HeadQuarters</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of depts">
                <td class="text-end">{{d.id}}</td>
                <td>{{d.title}}</td>
                <td>{{d.hq}}</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-info me-1" [routerLink]="['edit',d.id]">EDIT</a>
                    <button class="btn btn-sm btn-danger me-1" (click)="delDept(d.id)">DELETE</button>
                    <a class="btn btn-sm btn-secondary" [routerLink]="['/emps',d.id]">EMPLOYEES</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
