<section class="col-sm-7 m-4 mx-auto p-4">
    <h4>Departments</h4>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Dept#</th>
                <th>Title</th>
                <th>Head Quarters</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of depts">
                <td>{{d.id}}</td>
                <td>{{d.title}}</td>
                <td>{{d.hq}}</td>
            </tr>
        </tbody>
    </table>
</section>
