<section class="col-sm-10 mx-auto p-2">

    <p class="alert alert-info p-4 fw-bold" *ngIf="!deptName && !errMsg">
        Please wait while laoding data....
    </p>

    <p class="alert alert-danger p-4 fw-bold" *ngIf="errMsg">
        {{errMsg}}
    </p>

    <h5 *ngIf="deptName"> {{deptName}} Employee(s) </h5>

    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link" routerLink="list" routerLinkActive="active">Employees List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="add" routerLinkActive="active">New Employee</a>
        </li>
    </ul>
    
    <router-outlet></router-outlet>

</section>